.successModalHead{
	padding: 12px 20px;
}
.successModalHead h4{
	font-size: 16px;
	font-weight: 500;
	color:  #665ff7;
}
.registrationModalBody{
    padding: 29px 15px;
    float: left;
    width: 100%;
}
.modalFormBlocks h4{
	font-size: 16px;
	color: #665ff7;
    margin-bottom: 24px;
}
.registrationModalBody .anotherUser{
	font-size: 16px;
	color: #665ff7;
	text-decoration: underline;
	border: none;
	background: transparent;
	margin-right: 58px;
}