.loginMain{
	margin-top: 50px;
	margin-bottom: 50px;
}

.loginHead{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(82, 74, 74, 0.25);
    padding: 20px;
    margin-top: 14px;
    margin-bottom: 24px;
}
.loginHead .loginBlocks:nth-child(1):before{
	content:"";
	background: rgba(151, 151, 151, 0.23);
	width: 2px;
  	height: 200px;
  	position: absolute;
    right: 0px;
    top: 25%;
}
.loginHead .loginBlocks{
	position: relative;
}
.loginBlocks h4{
	font-size: 18px;
	font-weight: 500;
	color: #678188;
    margin-bottom: 30px;
}
.loginBlocks ul>li{
	margin-bottom: 24px;
	display: inline-block;
	width: 100%;
}
.loginBlocks ul>li>a{
	display: inline-block;
	width: 100%;
	border-radius: 2px;
	background-color: #fdfdfd;
	border: solid 1px #eff5ef;
}
.loginBlocks ul>li i{
	border-right: solid 1px #eff5ef;
	color: #7f00fc;
	padding: 16px;
	margin-right: 16px;
}
.loginBlocks ul>li span{
	font-size: 16px;
	font-weight: 500;
	color: #678188;
}
.forgetPassword{
    font-size: 12px;
    color: #665ff7;
    text-align: center;
    display: block;
}
.notAccount{
	font-size: 16px;
	text-align: left;
	color: #425364;
	margin-right: 15px;
	display: inline-block;
}
.sliderContent{
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
    right: 10%;
    left: 10%;
}