.successModalHead{
	padding: 12px 20px;
}
.successModalHead h4{
	font-size: 16px;
	font-weight: 500;
	color: #4a5c61;
}
.successModalBody{
    padding: 50px 25px;
    width: 85%;
}
.successModalBody img{
	width: 98px;
}
.successModalBody h4{
	font-size: 26px;
	font-weight: 300;
	color: #425364;
	margin-bottom: 10px;
}
.successModalBody p{
	font-size: 14px;
	font-weight: 300;
	color: #425364;
	margin-bottom: 25px;
}
.successModalBody .anotherUser{
	font-size: 16px;
	color: #665ff7;
	text-decoration: underline;
	border: none;
	background: transparent;
	margin-right: 58px;
}